{% extends 'base_layout.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <br/>
    <div class="row">
        <div class="col-md-10 col-md-offset-2">
            <h1>Log in</h1>
        </div>
        <div class="col-md-10 col-md-offset-2">
            <hr />
        </div>
    </div>

    <div class="row">
        <div class="col-md-10 col-md-offset-2">
            <form class="site-form" action="{% url 'accounts:login'%}" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                {% if request.GET.next %}
                    <input type="hidden" name="next" value="{{ request.GET.next }}" />
                {% endif %}
                <button type="submit" class="btn btn-primary">Log In</button>
            </form>
        </div>
    </div>
    
{% endblock %}
