{% extends 'base_layout.html'%}

{% block content %}
    <br/>
    <div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h1>Category List</h1>
		</div>
		<div class="col-md-2">
			<a href="{% url 'categories:create' %}" class="btn btn-primary">New Category</a>
		</div>
	</div>
    
    <br/>
    <div class="row">
		<div class="col-md-10 col-md-offset-2">
            <table class="table">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for category in categories %}
                        <tr>
                            <td>{{category.title}}</td>
                            <td>
                                <a href="{% url 'categories:edit' id=category.id %}" class="btn btn-primary btn-sm">Edit</a>
                                <a href="{% url 'categories:delete' id=category.id %}" class="btn btn-danger btn-sm">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
  